*.o
*.dSYM
*.csv
*.out
*.png
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.pyc
lib*.*
*.egg-info/

build/
test_times.txt
failed_doctests.txt
test_times.txt.backup
temp/
